#export_template-edit.fr-my-4w
  .fr-mb-6w
    = render Dsfr::AlertComponent.new(state: :info, title: "Nouvel éditeur de modèle d'export", heading_level: 'h3') do |c|
      - c.with_body do
        Cette page permet d'éditer un modèle d'export et ainsi personnaliser le contenu des exports (pour l'instant,
        uniquement au format zip). Ainsi, vous pouvez notamment normaliser le nom des pièces jointes.
        Essayez-le et donnez-nous votre avis
        en nous envoyant un email à #{mail_to(CONTACT_EMAIL, subject: "Editeur de modèle d'export")}.

  .fr-grid-row.fr-grid-row--gutters
    .fr-col-12.fr-col-md-8.fr-pr-4w
      = form_with url: form_url, model: @export_template, local: true, data: { turbo: 'true', controller: 'autosubmit' } do |f|

        = render Dsfr::InputComponent.new(form: f, attribute: :name, input_type: :text_field)

        .fr-input-group{ class: class_names('fr-hidden': groupe_instructeurs.one?) }
          = f.label :groupe_instructeur_id, class: 'fr-label' do
            = "#{ExportTemplate.human_attribute_name('groupe_instructeur_id')} #{asterisk}"
            %span.fr-hint-text Avec quel groupe instructeur souhaitez-vous partager ce modèle d'export ?
          = f.collection_select :groupe_instructeur_id, groupe_instructeurs, :id, :label, {}, class: 'fr-select'

        - def readable_template(template) = template['content'][0]['content'].map { _1['type'] == 'text' ? tag.span(_1['text']) : tag.span(_1['attrs']['label'], class: 'fr-tag fr-tag--sm')}.join.then { sanitize(_1) }
        - tags = render TagsButtonListComponent.new(tags: { nil => @export_template.tags })

        %div{ data: { controller: 'tiptap', 'tiptap-attributes-value': { spellcheck: false }.to_json } }
          = f.label '[dossier_folder][template]', class: "fr-label" do
            = "#{ExportTemplate.human_attribute_name('dossier_folder')} #{asterisk}"
            %span.fr-hint-text Nom du répertoire contenant les différents fichiers à exporter

          .tiptap-editor{ data: { tiptap_target: 'editor' } }
            = f.hidden_field "[dossier_folder][template]", data: { tiptap_target: 'input' }, value: @export_template.dossier_folder.fetch('template').to_json
          .fr-mt-2w= render TagsButtonListComponent.new(tags: { nil => @export_template.tags })

          = render Dsfr::NoticeComponent.new(closable: false) do |c|
            - c.with_title do
              Sélectionnez les fichiers que vous souhaitez exporter

          .fr-h3.fr-mt-4w Dossier au format PDF

          = render partial: 'export_item', locals: { item: @export_template.export_pdf, f: f, libelle: ExportTemplate.human_attribute_name(:export_pdf), tags:, prefix: 'export_template[export_pdf]'}

          %h3.fr-h3.fr-mt-4w Pièces justificatives
          - @exportable_pjs.each do |pj|
            - item = @export_template.pj(pj.stable_id)
            = render partial: 'export_item', locals: { item:, libelle: pj.libelle, tags:, prefix: 'export_template[pjs][]'}

        .fixed-footer
          .fr-container
            %ul.fr-btns-group.fr-btns-group--inline-md
              %li
                %input.hidden{ type: 'submit', formaction: preview_instructeur_export_templates_path, data: { autosubmit_target: 'submitter' }, formnovalidate: 'true', formmethod: 'get' }
                = f.button "Enregistrer", class: "fr-btn", data: { turbo: 'false' }
              %li
                = link_to "Annuler", instructeur_procedure_path(@procedure), class: "fr-btn fr-btn--secondary"
              - if @export_template.persisted?
                %li
                  = link_to "Supprimer", instructeur_export_template_path(@export_template, procedure_id: @procedure.id), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer ce modèle ? Il sera supprimé pour tous les instructeurs du groupe"}, class: "fr-btn fr-btn--secondary"
    - sample_dossier = @procedure.dossier_for_preview(current_instructeur)
    .fr-col-12.fr-col-md-4.fr-background-alt--blue-france
      = render partial: 'preview', locals: { dossier: sample_dossier, export_template: @export_template, procedure: @procedure }
